target
*.war
.classpath
.idea
.idea/*
.project
lib/
*.iml
*.ipr
*.iws
stacktrace.log
CodeNarcReport.html
cobertura.ser
out/
*/tld/*
*.log
web-app/repositories/
web-app/logs/*

modules/meta-utils/plugin.xml
target/*.log
target/classes/*

*.iml
*.ipr
*.iws
.settings
target-eclipse

data/
lib/
modules/as-frontend/bower_components/
modules/as-frontend/node_modules/
modules/as-frontend/test/
web-app/WEB-INF/tld/